@CHARSET "UTF-8";

::-moz-selection {
	background: #444444;
	color: #ffffff;
}

::selection {
	background: #444444;
	color: #ffffff;
}

html {
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	-webkit-user-select: none;
	-moz-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	user-select: none;
}

body {
	font-size: 70%;
	margin: 0;
	padding: 0;
	background-color: #fdffff;
}

h1,h2,h3,h4,h5,h6 {
	padding-left: 1em;
}

.ui-fieldset.ui-widget.ui-widget-content {
	
}
.ui-inputfield {
	width: 100%;
}
.ui-panelgrid > tbody > tr.ui-widget-content{
	background: none;
}

#north,#north div {
	padding: 0;
	border: none;
	background: transparent;
}

.topTable {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	
	cursor: default;
}
.topTable h2 { margin: 0px; font-size: 1.6em; font-weight: normal; line-height: 36px; color: #000;}

.userInfoTopTableColumn {
	text-align: right;
	vertical-align: middle;
}

#west,#west div {
	
}

.westMenu {
	width: 96%;
}

.adminForm {
	padding: 0px 15px 0px 15px;
}

.ui-panelgrid.ui-widget tbody tr,.ui-panelgrid.ui-widget tbody tr td {
	border: none;
}
.field.red {
	background: rgba(255,20,20,0.6) !important;
	color: white;
}

.fieldset-instructions {
	font-weight: bold;
	line-height: 3em;
}

.requiredSymbol {
	color: #CC0000;
	font-weight: bold;
	vertical-align: middle;
	width: 5px;
	cursor: default;
}

.inputColumn {
	vertical-align: top;
	width: 350px;
	font-weight: bold;
}

.messagesColumn {
	vertical-align: bottom;
	width: 350px;
}

.labelColumn{
	width: 100px;
	text-align: right;
	
}
.valueColumn{
	width: 200px;
	text-align: left;
	font-weight: bold;
}

@MEDIA print {
	.ui-breadcrumb {
		display: none !important;
		visibility: hidden !important;
	}
	.dataexporter {
		display: none !important;
		visibility: hidden !important;
	}
	.ui-toolbar {
		display: none !important;
		visibility: hidden !important;
	}
}